# Server Environment Configuration
PORT=3001
NODE_ENV=production

# Hubsoft ISP Integration
HUBSOFT_BASE_URL=https://api.nuvv.hubsoft.com.br/
HUBSOFT_CLIENT_ID=30
HUBSOFT_CLIENT_SECRET=yWaznm8lpW6kGEuO1sOh5Kb5fw9UkqQ0WlshgHSu
HUBSOFT_USERNAME=meusapps@nuvv.com.br
HUBSOFT_PASSWORD=Nuvv@2026

# SMTP Nodemailer (Transaction Email & Lead Notifications)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Nuvv Telecom" <notificacoes@nuvv.com.br>
ADMIN_ALERT_EMAIL=contato@nuvv.com.br
